extends inc/layout.pug

block title 
    title Inherance
block content 
    header
        h1 Inherance 
    section 
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et consectetur est temporibus a blanditiis corporis, autem ad iste adipisci aliquid?